<nav class="admin-nav">
  <ul>
    <li class="active"><a href="#/admin">Admin</a></li>
    <li><a href="#/admin">Users</a></li>
    <li><a href="#/admin">Orders</a></li>
  </ul>
</nav>

<h1>Admin</h1>
<div class="row">
  <div class="col-sm-6">
    <h2>Items List</h2>
  </div>
  <div class="col-sm-6 text-right">
    <button class="btn" ng-click="open('md')">Add an Item</button>
  </div>
</div>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Action</th>
      <th>Id</th>
      <th>Name</th>
      <th>Short Name</th>
      <th>Price</th>
      <th>Last Updated</th>
      <th>Updated By</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bottle in bottleList">
      <td class="text-center"><button type="button" ng-click="open('md', bottle)" class="btn btn-sm"><i class="fa fa-edit"></i></button></td>
      <td class="text-right">{{bottle.id}}</td>
      <td>{{bottle.name}}</td>
      <td>{{bottle.shortname}}</td>
      <td class="text-right">$ {{bottle.price}}</td>
      <td class="text-right">{{bottle.lastUpdated.date.month}}/{{bottle.lastUpdated.date.day}}/{{bottle.lastUpdated.date.year}} {{bottle.lastUpdated.time.hour}}:{{bottle.lastUpdated.time.minute}}:{{bottle.lastUpdated.time.second}}</td>
      <td>{{bottle.whoUpdated}}</td>
    </tr>
  </tbody>
</table>

<div class="pagination pull-right">
  <ul uib-pagination boundary-links="true"
    total-items="totalItems"
    ng-model="currentPage"
    ng-change="pageChanged()"></ul>
</div>

<script type="text/ng-template" id="adminModal">
  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <form name="addItemForm">

      <div class="row">
        <label class="col-sm-3">Name</label>
        <div class="col-sm-9">
          <input class="form-control"
              type="text"
              class="form-control"
              ng-model="item.name">
        </div>
      </div>

      <div class="row">
        <label class="col-sm-3">Short Name</label>
        <div class="col-sm-9">
          <input class="form-control"
              type="text"
              class="form-control"
              ng-model="item.shortname">
        </div>
      </div>

      <div class="row">
        <label class="col-sm-3">Price</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input class="form-control"
                type="number"
                step=".01"
                class="form-control"
                ng-model="item.price">
            <span class="input-group-addon">$</span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-3">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control"
              type="text"
              class="form-control"
              ng-model="item.description">
          </textarea>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-3">Image</label>
        <div class="col-sm-9">
          <input class="form-control"
              type="file"
              class="form-control">
          </textarea>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="cancel()" class="pull-left btn btn-cancel">Cancel</button>
    <button type="button" ng-click="ok(item)" class="btn">Save</button>
  </div>
</script>
