@brand-primary = @orange;
* {
  box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
body {
  background-image: url('../img/bourbon.svg');
  background-repeat: no-repeat;
  background-width: 333px;
  background-position: bottom left;
}
h1 {
  border-bottom: solid 1px #E89747;
}
a:link,
a:visited {
  color: #E89747;
}
h1,
h2 {
  font-family: 'Forum', cursive;
}
i {
  margin-right: 3px;
}
button i {
  margin: 0;
}
textarea.form-control {
  height: 150px;
}
.form-control,
.input-group {
  margin-bottom: 10px;
}
.has-error {
  color: red;
}
.has-error input {
  border-color: red;
}
.text-error {
  color: red;
}
.cart {
  text-align: right;
}
button.btn,
a.button {
  background: #eeb174;
  color: #424242;
  font-weight: bold;
}
button.btn:hover,
a.button:hover,
button.btn:focus,
a.button:focus,
button.btn:active,
a.button:active {
  background: #f3caa2;
}
button.btn-default {
  background: #E89747;
}
button.btn-cancel {
  background: #dbdbdb;
}
a.button {
  padding: 5px 10px;
  border-radius: 5px;
}
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
}
button.description {
  border: none;
  background: none;
  display: block;
  text-align: left;
  padding-left: 0;
  color: #ae6116;
}
button.description:hover,
button.description:focus,
button.description:active {
  text-decoration: underline;
  border: none;
}
button.shopping {
  border: none;
  display: inline;
  color: #E89747;
  background: none;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.bottle {
  position: relative;
  margin-bottom: 20px;
  width: 33%;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
  padding: 5px 5px 30px;
}
.bottle img {
  width: 32%;
  float: left;
}
.bottle div {
  width: 65%;
  float: right;
}
.bottle h2 {
  font-size: 1.25em;
  margin-top: 0;
  border-bottom: solid 1px #E89747;
  color: #5B5B5B;
}
.bottle button.btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}
img {
  border: solid 1px #f3caa2;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
img.img-thumbnail {
  max-width: 200px;
}
.items.list .bottle {
  padding-bottom: 5px;
  width: 100%;
}
.items.list .bottle img {
  width: 15%;
}
.items.list .bottle div {
  width: 42%;
  float: left;
  margin-left: 20px;
}
.items.list .bottle div:last-child {
  width: 42%;
  padding: 20px 10px 5px 0;
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
}
.items.list .bottle .description {
  margin-top: 10px;
}
label {
  font-weight: normal;
}
.pagination ul li.active a {
  background: #E89747;
  border-color: #E89747;
  color: white;
}
.pagination ul li.active a:link,
.pagination ul li.active a:visited {
  color: white;
}
.pagination ul li.active a:hover,
.pagination ul li.active a:active,
.pagination ul li.active a:focus {
  color: white;
  background: #f3caa2;
  border-color: #f3caa2;
}
.pagination a {
  color: #E89747;
}
.pagination a:link,
.pagination a:visited {
  color: #E89747;
}
.pagination a:hover,
.pagination a:active,
.pagination a:focus {
  color: #5B5B5B;
}
footer {
  text-align: right;
}
footer div {
  padding-top: 10px;
  border-top: solid 1px #E89747;
}
nav.admin-nav {
  text-align: right;
}
nav.admin-nav ul {
  margin-left: 0;
  background: #E89747;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}
nav.admin-nav ul li {
  display: inline-block;
  list-style-type: none;
  background: white;
  color: #b36416;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #E89747;
}
nav.admin-nav ul li a:hover,
nav.admin-nav ul li a:active,
nav.admin-nav ul li a:focus {
  text-decoration: none;
}
nav.admin-nav ul li:hover,
nav.admin-nav ul li:active,
nav.admin-nav ul li:visited,
nav.admin-nav ul li.active:hover,
nav.admin-nav ul li.active:hover,
nav.admin-nav ul li.active:visited {
  background: #f9e4cf;
  color: #b36416;
  border: solid 1px #E89747;
}
nav.admin-nav ul li:hover a:link,
nav.admin-nav ul li:active a:link,
nav.admin-nav ul li:visited a:link,
nav.admin-nav ul li.active:hover a:link,
nav.admin-nav ul li.active:hover a:link,
nav.admin-nav ul li.active:visited a:link,
nav.admin-nav ul li:hover a:visited,
nav.admin-nav ul li:active a:visited,
nav.admin-nav ul li:visited a:visited,
nav.admin-nav ul li.active:hover a:visited,
nav.admin-nav ul li.active:hover a:visited,
nav.admin-nav ul li.active:visited a:visited {
  color: #b36416;
}
nav.admin-nav ul li.active {
  color: #5B5B5B;
  border: solid 1px #5B5B5B;
  background: #dbdbdb;
}
nav.admin-nav ul li.active a:link,
nav.admin-nav ul li.active a:visited {
  color: #5B5B5B;
}
.modal-header {
  background: #eeb174;
  border-radius: 4px 4px 0 0 ;
  font-weight: bold;
}
.modal-header h2 {
  margin: 0;
}
.mobile-links {
  display: none;
  text-align: right;
}
.checkout {
  text-align: right;
  margin-bottom: 20px;
}
.form {
  width: 50%;
  margin: 20px auto;
}
.form .row {
  margin-bottom: 10px;
}
table img {
  width: 50px;
}
.ship-info div.col-sm-3 {
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  body {
    background-width: 50%;
  }
  .bottle {
    width: 100%;
  }
  .modal-body {
    text-align: center;
  }
  .modal-body img {
    width: 75%;
    float: none;
  }
  .modal-body div {
    float: none;
    text-align: justify;
    width: 100%;
  }
  .cart {
    display: none;
  }
  .mobile-links,
  button.shoppings {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    background: #eeb174;
    z-index: 1;
  }
  .mobile-links a:link,
  button.shoppings a:link,
  .mobile-links a:visited,
  button.shoppings a:visited {
    color: #5B5B5B;
  }
  h1 {
    margin-top: 40px;
  }
  .items.list .bottle {
    width: 100%;
  }
  .items.list .bottle img {
    width: 20%;
  }
  .items.list .bottle div {
    width: 70%;
    float: none;
    margin-left: 30%;
  }
  .items.list .bottle div:last-child {
    width: 100%;
    padding: 5px 0 0;
    margin: 10px 0 0;
    position: relative;
    bottom: 0;
    right: 0;
    border-top: solid 1px #dbdbdb;
  }
  .form {
    width: 100%;
  }
}
@media only screen and (min-width: 980px) {
  .bottle {
    width: 24%;
  }
}
/*768*/
